---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - patch
  - update
- apiGroups:
  - seichi.click
  resources:
  - bungeeconfigmaptemplates
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - seichi.click
  resources:
  - bungeeconfigmaptemplates/finalizers
  - seichiassistdebugenvrequests/finalizers
  verbs:
  - update
- apiGroups:
  - seichi.click
  resources:
  - bungeeconfigmaptemplates/status
  - seichiassistdebugenvrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - seichi.click
  resources:
  - seichiassistdebugenvrequests
  verbs:
  - get
  - list
  - watch
